@import "style-veriable.css";

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  background-color: var(--color-page);
  scroll-behavior: smooth;
}

.main-content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.main-content__image {
  width: 635px;
  height: 635px;
  margin: 30px 0 30px 30px;
  object-fit: contain;
  border: 1px solid #979797;
}

.section-submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 350px;
  margin: 0 20px 10px 90px;
}

.section-submit__title {
  width: 331px;
  height: 29px;
  margin: 0 20px 10px 0;
  font-size: 24px;
  font-weight: 700;
  color: var(--color-text);
  text-transform: uppercase;
}

.section-submit__subtitle {
  height: 96px;
  color: #262626;
}

.section-submit__form {
  margin-bottom: 10px;
}

.section-submit__input-field {
  width: 100%;
  height: 40px;
  margin: 0 0 10px;
  padding: 11px 0 12px 15px;
  border: solid 1px #e6e6e6;
}

.section-submit__label-checkbox {
  display: flex;
  margin-bottom: 20px;
  cursor: pointer;
}

.section-submit__input-checkbox {
  width: 20px;
  height: 20px;
  accent-color: var(--color-green);
}

.section-submit__checkbox-text {
  width: 320px;
  height: 51px;
  margin: 1px 0 0 10px;
  color: #3b3b3b;
}

.section-submit__button {
  width: 100%;
  height: 46px;
  background-color: var(--color-green);
  color: #FFF;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.section-submit__text {
  margin: 0 13px 0 13px;
  color: #666;
}

.section-submit__button:hover,
.section-submit__label-checkbox:hover {
  opacity: .9;
}

@media (max-width: 730px)  {

  .main-content__image {
    width: 535px;
    height: 535px;
    margin: 30px 0 20px 0;
  }

  .section-submit {
    margin: 0;
  }
}

@media (max-width: 620px)  {

  .main-content__image {
    width: 435px;
    height: 435px;
  }
}

@media (max-width: 450px)  {

  .main-content__image {
    width: 300px;
    height: 300px;
  }

  .section-submit {
    width: 300px;
    margin-bottom: 50px;
  }

  .section-submit__title {
    width: 300px;
    font-size: 22px;
  }
}
